a,a:hover{outline:none;text-decoration:none;}
.hide-txt{text-indent:-9999em;font-size:0;line-height:0;}
.clearfix:after{display:block;content:"";visibility:hidden;clear:both;}
.clearfix{zoom:1;}
.fl{float:left;}
.bd{border:1px solid #ddd;}
.bdt{border-top:3px solid #77d3be;}

/*header*/

/*main*/
.wrap{width:100%;min-width:990px;font-family:"Microsoft YaHei";overflow:hidden;}
.main{width:990px;padding-top:20px;margin:0 auto;background:#fff;font-size:12px;color:#333;text-align:center;position:relative;}
.cont{position:relative;margin-bottom:20px;}
.cont h3{height:40px;padding:0 15px;line-height:40px;text-align:left;font-weight:bold;font-size:20px;}
.cont ul.col3 li{width:33.33%;float:left;padding:0 5px;*padding:0;-webkit-box-sizing:border-box;box-sizing:border-box;text-align:left;overflow:hidden;}
.cont ul.col3 p{height:28px;line-height:28px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.cont ul.col3 a{color:#333;}
.cont ul.col3 a:hover{color:#77d3be;}
.carousel-wp{width:350px;margin-right:20px;overflow:hidden;}
.carousel{width:100%;margin-bottom:13px;position:relative;}
.carousel li{height:270px;}
.carousel img{width:100%;height:100%;}
.carousel-ctrl{position:absolute;right:10px;bottom:5px;height:16px;}
.carousel-ctrl a{display:inline-block;vertical-align:top;width:16px;height:16px;line-height:16px;font-size:12px;background:#fff;opacity:0.5;color:#999;}
.carousel-ctrl a:hover,.carousel-ctrl a.cur{opacity:1;}
.msg-wp{height:100px;font-size:12px;text-align:left;overflow:hidden;}
.msg-wp ul{padding:5px;}
.msg-wp li{float:left;width:50%;height:30px;line-height:30px;position:relative;}
.msg-wp li a{display:block;color:#333;margin-right:42px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.msg-wp li span{position:absolute;right:0;top:0;width:42px;color:#bbb;}
.latest-wp{width:350px;height:100%;font-size:12px;text-align:left;-webkit-box-sizing:border-box;box-sizing:border-box;overflow:hidden;}
.latest-wp li{height:30px;line-height:30px;padding:0 45px 0 15px;border-bottom:1px dashed #f0f0f0;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;position:relative;}
.latest-wp li span{position:absolute;right:0;top:0;width:42px;color:#bbb;}
.latest-wp a{color:#333;}
.side-rt{position:absolute;top:0;right:0;height:100%;width:250px;-webkit-box-sizing:border-box;box-sizing:border-box;overflow:hidden;}
.side-rt .more{position:absolute;top:0;right:10px;line-height:40px;height:40px;font-size:12px;color:#333;text-decoration:underline;}
.side-rt .vip-tq{padding-top:10px;}
.side-rt .vip-tq li{float:left;width:110px;height:70px;margin:8px 0 0 8px;border:1px solid #ddd;}
.side-rt .vip-tq li a{display:block;width:100%;height:100%;line-height:70px;font-size:12px;color:#333;}
.side-rt .list-txt{padding:0 10px 0 15px;text-align:left;}
.side-rt .list-txt p{height:28px;line-height:28px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.side-rt .list-txt a{color:#333;}
.side-rt .list-txt a:hover{color:#77d3be;}
.cont-bd{padding:0 5px;width:708px;}
.cont-bd .hd{height:40px;line-height:40px;position:relative;}
.cont-bd .hd p{position:absolute;top:0;right:10px;}
.cont-bd .hd a{padding:0 5px;color:#333;}
.cont-bd .hd a:not(:last-of-type){border-right:1px solid #999;}
.cont-bd .hd a:hover{color:#77d3be;}
.cont-bd .list-img{margin-bottom:10px;}
.cont-bd .list-img img{display:block;margin:0 auto 5px;width:226px;height:160px;}
.links-btm{padding:10px;line-height:28px;text-align:left;}
.links-btm a{display:inline-block;vertical-align:top;margin:0 5px 5px 0;color:#333;}
.links-btm a:hover{color:#77d3be;}